LLM_API_KEY=AQ.Ab8RN6Jd5p0BvF6ZwOW-4L_hOWFpsMoQZ8FK9dbyQhUSAuuZOw
GEMINI_API_KEY=AQ.Ab8RN6Jd5p0BvF6ZwOW-4L_hOWFpsMoQZ8FK9dbyQhUSAuuZOw
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.0-flash
CONFIDENCE_THRESHOLD=0.6
VECTOR_DB_PATH=./knowledge_base/vector_index